.jumbotron {
    padding-top: 6rem;
    background-color: #9c9c9c;
}
.About {
    padding-top: 3rem;
}
.projects {
    padding-top: 3rem;
    background-color: #9c9c9c;
}
section {
    padding-top: 5rem;
}